apiVersion: v1
kind: ConfigMap
metadata:
  name: haproxy-config
  namespace: haproxy
data:
  haproxy.cfg: |
    global
        log stdout format raw local0

    defaults
        log     global
        mode    http
        option  httplog
        timeout connect 5s
        timeout client  50s
        timeout server  50s

    frontend http_front
        bind *:80
        mode http
        default_backend k8s_nginx_backend

    backend k8s_nginx_backend
        mode http
        balance roundrobin
        option httpchk GET /
        server nginx-svc 10.43.197.227:80 check
