# ============================================================
#  SONARQUBE - VARIABLES D'ENVIRONNEMENT
#  Copiez ce fichier en .env et renseignez vos valeurs
#  IMPORTANT: Ne commitez JAMAIS ce fichier en Git !
# ============================================================

# --- Base de données PostgreSQL ---
SONAR_DB_NAME=sonarqube
SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=SonarDB@SecureP@ss2024!
